<h1>{{ page.title }}</h1>
{% form 'contact' %}
  {% if form.posted_successfully? %} Thank you for your contact {% endif %}
  {{ form.errors | default_errors }}
  <label for="ContactFormName">namee</label>
  <input type="text" id="ContactFormName" name="contact[name]">
  <label for="ContactFormEmail">email</label>
  <input type="email" id="ContactFormEmail" name="contact[email]">
  <label for="ContactFormPhone">phone</label>
  <input type="tel" id="ContactFormPhone" name="contact[phone]">
  <label for="ContactFormMessage">message</label>
  <textarea rows="10" id="ContactFormMessage" name="contact[body]"></textarea>
  <input type="submit" value="send">
{% endform %}


<html lang="en">
    <head>
        <title>Order poster of your home!</title>
        <link rel="stylesheet" href="./main.css">
        <link rel="stylesheet" href="./colorvars.css">
    </head>
    <body>
        <div id="content_wrapper">
            <span class="head_1">Request a picture lookup</span>
            <div class="flex-row">
                <div class="column_left">
                    <span class="head_2">1. Mark up house location on map</span>
                    <div class="map-plugin">
                        <!-- REPLACE WITH ACTUAL MAP PLUGIN AT DEPLOYMENT -->
                    </div>
                    <span class="head_2 cursive lighter-gray">Double click on the map to set coordinates</span>
                    <div class="flex-row">
                        <input id="latitude" type="text" pattern="-?(\d+(\.\d+)?)" placeholder="Latitude" class="coordinate text-input">
                        <input id="longitude" type="text" pattern="-?(\d+(\.\d+)?)" placeholder="Longitude" class="coordinate text-input">
                    </div>
                </div>
                <div class="column_right">
                    <form id="purchase-form">
                        <span class="head_2">2. Add your current address</span>
                        <input type="text" class="street text-input" placeholder="Street address">
                        <div class="flex-row">
                            <input type="text" class="zip text-input" placeholder="Zipcode">
                            <input type="text" class="city text-input" placeholder="City">
                        </div>
                        <span class="head_2">3. Choose your preferred art style</span>
                        <div class="flex-row">
                            <input type="radio" name="art-style" id="radio_original" value="original">
                            <label for="radio_original" class="style-option">
                                <img src="placeholder/url/forImage.jpg" alt="placeholder image url" class="product-sample">
                                <span class="opt_name">Original photo</span>
                                <span class="price_tag">{price}</span>
                            </label>
                            <input type="radio" name="art-style" id="radio_watercolor" value="watercolor">
                            <label for="radio_watercolor" class="style-option">
                                <img src="placeholder/url/forImage.jpg" alt="placeholder image url" class="product-sample">
                                <span class="opt_name">Watercolor</span>
                                <span class="price_tag">{price}</span>
                            </label>
                            <input type="radio" name="art-style" id="radio_pencil" value="pencil">
                            <label for="radio_pencil" class="style-option">
                                <img src="placeholder/url/forImage.jpg" alt="placeholder image url" class="product-sample">
                                <span class="opt_name">Pencil sketch</span>
                                <span class="price_tag">{price}</span>
                            </label>
                            <input type="radio" name="art-style" id="radio_ai-render" value="ai-render">
                            <label for="radio_ai-render" class="style-option">
                                <img src="placeholder/url/forImage.jpg" alt="placeholder image url" class="product-sample">
                                <span class="opt_name">AI rendering</span>
                                <span class="price_tag">{price}</span>
                            </label>
                        </div>
                        <span class="head_2">4. Accept terms</span>
                        <div class="flex-row">
                            <div class="flex-item column_base">
                                <div class="subtotal_card">
                                    <div class="flex-row subtotal_title">
                                        <span class="head_3">Lookup fee</span>
                                        <span class="price_tag">{service_price}</span>
                                    </div>
                                    <span class="notation upfront">(10% upfront)</span>
                                    <p class="card-description">100% payback guarantee if we do not find your picture.</p>
                                </div>
                                <div class="subtotal_card">
                                    <div class="flex-row subtotal_title">
                                        <span class="head_3">Framed canvas</span>
                                        <span class="price_tag">{service_price}</span>
                                    </div>
                                    <p class="card-description">Premium quality canvas. UV laminated incl. wooden frame. Paid upon confirmed preview/proof</p>
                                </div>
                                <div class="subtotal_card">
                                    <div class="flex-row">
                                        <span class="flex-item head_3">Total</span>
                                        <span class="flex-item price_tag total">{total_price}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-item column_base">
                                <div class="flex-row">
                                    <input type="checkbox" id="agree-to-terms" class="flex-item">
                                    <label for="agree-to-terms" class="flex-item i-agree">I agree</label>
                                </div>
                                <p class="notation">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur temporibus eveniet animi natus ipsa doloribus rem, iusto corrupti repellat nihil in, ducimus, dicta ex dolores! Ut totam aliquam nam culpa.</p>
                                <button type="submit" class="place-order">PLACE ORDER</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>